src/main/mule/businessLogic.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:sap="http://www.mulesoft.org/schema/mule/sap" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/sap http://www.mulesoft.org/schema/mule/sap/current/mule-sap.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">

	<flow name="businessLogicFlow" doc:id="8759532e-79b7-4789-990c-dc8e162bfd67">
		<ee:transform doc:name="SAP DEBMAS01 XML to List Accounts"
			doc:id="bcfb50fa-18bf-4f06-b7e1-f88e6d208ad0">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
using (customer = payload.DEBMAS01.IDOC.E1KNA1M)
[{
	Name : customer.NAME1,
	sap_external_id__c : customer.KUNNR,
	BillingCity : customer.ORT01,
	BillingState : customer.REGIO,
	BillingPostalCode : customer.PSTLZ,
	BillingCountry : customer.LAND1,
	BillingStreet : customer.STRAS,
	Phone : customer.TELF1,
	Fax : customer.TELFX
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<batch:job jobName="migrateAccountsBatch" doc:id="204892ae-0d97-4326-beae-310c8d52b7a6">
			<batch:process-records>
				<batch:step name="foreachCustomerInSAPUpsertAccountInSFDCStep"
					doc:id="78a74ab4-9b91-416d-985a-acda2ac377eb">
					<batch:aggregator doc:name="Batch Aggregator"
						doc:id="1ad86a98-643e-494a-a90a-32daab0b03cc" size="${page.size}">
						<logger level="INFO" doc:name="Log upsert of Salesforce Account"
							doc:id="7236a9f6-7aaf-4f40-94e3-e477a132e88d" message="Upsert Account in Salesforce: #[payload]" />
						<salesforce:upsert doc:name="Upsert Accounts in Salesforce"
							doc:id="2dbf7bd3-d0de-4c30-9f9c-73df56ec46c9" config-ref="Salesforce"
							externalIdFieldName="sap_external_id__c" type="Account" />
						<logger level="INFO" doc:name="Log result"
							doc:id="60e04786-5d09-497f-b44a-29b8e940ddeb" message="Upsert result #[output application/json --- payload]" />
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete>
				<ee:transform doc:name="Prepare migration result"
					doc:id="c84b4bc4-5a65-41c1-9d0c-f1ebd3d8db7a">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output text/plain
---
"Migration Report: \n"

++ "\n Time [milliseconds]: " 		++ payload.elapsedTimeInMillis
++ "\n Total Records: "				++ payload.totalRecords
++ "\n Successful Records: "		++ payload.successfulRecords
++ "\n Failed Records: "			++ payload.failedRecords
++ "\n Loaded Records: "			++ payload.loadedRecords
++ "\n Processed Records: " 		++ payload.processedRecords]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="Migration process has finished!"
					doc:id="b7575d38-7dbd-4602-9186-1bbb25234896" message="Migration process has finished: #[payload]" />
			</batch:on-complete>
		</batch:job>
	</flow>

</mule>


        