src/main/mule/endpoints.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:sap="http://www.mulesoft.org/schema/mule/sap" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/sap http://www.mulesoft.org/schema/mule/sap/current/mule-sap.xsd">
	<flow name="triggerFlow" doc:id="aff4106d-d2f6-4366-940a-a380dcb1cf73">
		<sap:document-source doc:name="Document source"
			doc:id="5fb2cec6-0240-42f8-ad27-bbce310f25f7" config-ref="SAP_Inbound"
			gatewayHost="${sap.jco.gwhost}" gatewayService="${sap.jco.gwservice}"
			programID="${sap.jco.idoc.programid}" connectionCount="${sap.jco.connectioncount}"
			operationTimeout="${sap.jco.operationTimeout}" />

		<logger level="INFO" doc:name="Log Customers to upsert"
			doc:id="65934ef1-2939-4fab-bde9-1886331527ea" message="Customers to upsert: #[output application/xml --- payload]" />

		<flow-ref doc:name="businessLogicFlow" doc:id="cfbc4dff-3585-465c-b4e3-b3deec93dad5"
			name="businessLogicFlow" />

		<error-handler>
			<on-error-propagate enableNotifications="true"
				logException="true" doc:name="On Error Propagate" doc:id="488b507d-e26c-4c56-8759-8bb4f6645d71"
				type="ANY">
				<flow-ref doc:name="errorHandlingFlow" doc:id="afdaf73c-0137-4d60-84f6-5c41234771a3"
					name="errorHandlingFlow" />
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>


        